:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-third: #fff;
  --color-action: #4d5ae5;
  --color-background-section: #2e2f42;
  --color-background-brand: #f4f4fd;
  --color-button-action: #404bbf;
  --color-background-button: #e7e9fc;
  --footer-background-link: rgb(255, 255, 255, 0.1);
  --color-modal-form: #8e8f99;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color-primary);
  background-color: var(--color-third);
  max-width: 1440px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.header {
  background-color: var(--color-third);
  box-shadow: 0px 0px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 0px 0px rgba(46, 47, 66, 0.08);
}
.container {
  width: 100%;
  /* width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* logo */

.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-primary);
  text-transform: uppercase;
  text-decoration: none;
  margin-right: auto;
  display: block;
}

.web-header-logo {
  color: var(--color-action);
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  z-index: 1000;
  top: 0;
  left: 0;
  background: var(--color-third);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.mobile-button-close {
  position: absolute;
  top: 24px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-button);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.mobile-menu-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 284px;
}

.mobile-menu-link {
  color: var(--color-primary);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts {
  display: flex;
  text-decoration: none;
}

/* navigation */

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.btn-burger {
  width: 32px;
  height: 22px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.link-navigation {
  color: var(--color-primary);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link-navigation:hover,
.link-navigation:focus {
  color: var(--color-action);
}

.link-navigation-line-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-button-action);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.link-navigation-line-portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-button-action);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.link.current {
  color: var(--color-action);
}

/* contacts */

.navigation-contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 20px;
  align-items: center;
}

.link-contacts {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  text-decoration: none;
  fill: var(--color-secondary);
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus .link-contacts {
  fill: var(--color-action);
  color: var(--color-action);
}

/* Main */

/* section-hero */

.section-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-primary);
  padding-top: 192px;
  padding-bottom: 192px;
  width: 1440px;
}

.section-hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-third);
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  width: 492px;
}

/* Button */

.button-section-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 170px;
  height: 51px;
  border-radius: 4px;
  color: var(--color-third);
  background-color: var(--color-action);
  display: block;
  margin: 0 auto;
  border: none;
  transition: color, background-color,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-section-hero:hover,
.button-section-hero:focus {
  color: var(--color-third);
  background-color: var(--color-button-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section advantages */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* .container-advantages {
  margin-bottom: 8px;
} */

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.container-advantages-list-item {
  display: none;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.advantages-list-item {
  max-width: 100%;
}

.advantages-list-item-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primary);
  margin-top: 8px;
  margin-bottom: 8px;
}

.advantages-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
}

/* section our team */

.team {
  background-color: var(--color-background-brand);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-primary);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

.team-list-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--color-third);
}

.team-list-box {
  display: block;
  padding: 32px 0;
}

.team-list-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--color-primary);
}

.team-list-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-action);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* section customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-third);
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-background-section);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-list-item {
  width: calc((100% - 16px * 3) / 2);
  height: 88px;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: #404bbf;
  fill: #404bbf;
}

/* second page (Portfolio) */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.gallery-title {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-navigation-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-action {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--color-action);
  background-color: var(--color-background-button);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 8px 16px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-action:hover,
.button-action:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-third);
  background-color: var(--color-action);
  border-color: var(--color-action);
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-images-card {
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
  background-color: var(--color-third);
}

.portfolio-img {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.5);
}

.box-img {
  position: relative;
  overflow: hidden;
}

.box-title {
  background: var(--color-action);
  transform: translate(0, 101%);
  transition: transform 250ms linear;
  padding: 40px 32px 164px 32px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-background-brand);
}
.portfolio-img:hover .box-title,
.portfolio-img:focus .box-title {
  transform: translate(0, 0);
}

.portfolio-box-card {
  padding: 32px 16px;
  border-right: 0.5px solid var(--color-background-brand);
  border-bottom: 0.5px solid var(--color-background-brand);
  border-left: 0.5px solid var(--color-background-brand);
}

.portfolio-images-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.portfolio-images-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
}

/* footer */

.footer {
  background-color: var(--color-background-section);
  padding: 100px 0 100px 0;
}

.footer-container-all {
  display: flex;
}

.footer-container {
  width: 264px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-background-brand);
}

.web-footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-action);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-background-button);
  margin-top: 16px;
}

.social-media {
  width: 208px;
  margin-left: 120px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-third);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.media-list {
  width: 40px;
  height: 40px;
}
.media-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}

.footer-form-subscribe {
  margin-left: auto;
}

.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-third);
  margin-bottom: 16px;
}

.footer-form-container {
  display: flex;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  background-color: var(--color-background-section);
  color: var(--color-third);
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  font-weight: 700;
  position: relative;
  font-size: 16px;
  text-align: start;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  color: var(--color-third);
  background-color: var(--color-action);
  display: flex;
  padding: 8px 24px;
  margin-left: 24px;
  border: none;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--color-button-action);
}

.footer-form-icon {
  margin-left: 16px;
}

/* Window modal */

.backdrop {
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: visibility, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-button);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-button-action);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close-icon,
.modal-button:focus .modal-close-icon {
  fill: var(--color-third);
}

/* Modal-form */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  margin-bottom: 16px;
}

.moda-form-field {
  margin-bottom: 8px;
}
.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-modal-form);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-action);
}

.modal-form-icon {
  position: absolute;
  display: block;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-action);
}

.modal-form-massage {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:focus {
  outline: none;
  border-color: var(--color-action);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--color-button-action);
  background-image: url(../images/vector.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--color-button-action);
}
.link-privacy-policy {
  color: var(--color-action);
}
.modal-form-submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 170px;
  height: 56px;
  border-radius: 4px;
  color: var(--color-third);
  background-color: var(--color-action);
  display: block;
  margin: 0 auto;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-btn:hover,
.modal-form-submit-btn:focus {
  color: var(--color-third);
  background-color: var(--color-button-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

--------------------- 
/* MEDIA */

@media screen and (max-width: 1158px) {
  .work {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list,
  .navigation-contacts-list {
    display: none;
  }
}

/* MOBILE */

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }

  .btn-burger {
    display: none;
  }

  /* Section ADVANTAGES */

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-list-item-title {
    text-align: start;
  }

  /* Section TEAM */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  /* section customers */

  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 24px * 3) / 3);
  }
}

/* DESCTOP */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  /* Header */

  /* .header {
  background-color: var(--color-third);
  box-shadow: 0px 0px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 0px 0px rgba(46, 47, 66, 0.08);
}

.container-navigation {
  display: flex;
} */

  /* logo */

  /* .link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-primary);
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.web-header-logo {
  color: var(--color-action);
} */

  /* navigation */

  /* .container {
  width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.link-navigation {
  color: var(--color-primary);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.link-navigation:hover,
.link-navigation:focus {
  color: var(--color-action);
}

.link-navigation-line-studio::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-button-action);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.link-navigation-line-portfolio::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--color-button-action);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.link.current {
  color: var(--color-action);
} */

  /* contacts */

  /* .navigation-contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 20px;
  align-items: center;
}

.link-contacts {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  text-decoration: none;
  fill: var(--color-secondary);
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus .link-contacts {
  fill: var(--color-action);
  color: var(--color-action);
} */

  /* Section ADVANTAGES */

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .container-advantages-list-item {
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advantages-list-item {
    max-width: 264px;
  }

  .advantages-list-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  /* Section WORK */

  .work {
    padding-bottom: 120px;
  }

  .work-title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
  }

  .work-title-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .work-title-list-img {
    width: calc((100% - 48px) / 3);
  }

  /* section our team */

  .team {
    background-color: var(--color-background-brand);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-primary);
    margin-bottom: 72px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-list-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    width: calc((100% - 72px) / 4);
    background-color: var(--color-third);
  }

  .team-list-box {
    display: block;
    padding: 32px 0;
  }

  .team-list-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--color-primary);
  }

  .team-list-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-list {
    width: 40px;
    height: 40px;
  }

  .social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-action);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  /* section customers */

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: var(--color-third);
  }

  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
}
