/* Mobile */

.section-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-primary);
  padding-top: 192px;
  padding-bottom: 192px;
  width: 1440px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and and (max-width: 767px) {
  .section-hero {
    background-image: url("photo@2x.png");
  }
}

/* Tablet */

@media screen and (mix-width: 768px) {
  .section-hero {
    background-image: url("photo@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (mix-width: 768px),
  screen and (min-resolution: 192dpi) and (mix-width: 768px),
  screen and (min-resolution: 2dppx) and and (mix-width: 768px) {
  .section-hero {
    background-image: url("photo@2x.png");
  }
}

/* Desctop */

@media screen and (mix-width: 1200px) {
  .section-hero {
    background-image: url("photo@2x.png");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (mix-width: 1200px),
  screen and (min-resolution: 192dpi) and (mix-width: 1200px),
  screen and (min-resolution: 2dppx) and and (mix-width: 1200px) {
  .section-hero {
    background-image: url("photo@2x.png");
  }
}

-------------------------

<img
srcset="./images/img-2x.jpg 2x"
src="./images/img-2.jpg"
alt="mobile-application-design"
width="360"
/>

--------------------------

<symbol id="burger-icon" viewBox="0 0 32 32">
<path d="M6.4 11.733v-2.133h19.2v2.133h-19.2zM6.4 17.067h19.2v-2.133h-19.2v2.133zM6.4 22.4h19.2v-2.133h-19.2v2.133z"></path>
</symbol>
Хрест закриття меню нижче:
<symbol id="icon-close-mob-menu" viewBox="0 0 32 32">
<path d="M23.733 10.304l-1.504-1.504-5.963 5.963-5.963-5.963-1.504 1.504 5.963 5.963-5.963 5.963 1.504 1.504 5.963-5.963 5.963 5.963 1.504-1.504-5.963-5.963 5.963-5.963z"></path>
</symbol>
